.Dog {
    color: coral;
}

#Cat {
    color: blue;
}

.Frog {
    color: cyan;
}

.Tree {
    color: darkkhaki;
}

#Greek {
    color: mediumvioletred;
}

.Bark {
    color: forestgreen;
}

#Tv {
    color: hotpink;
}

#Tell {
    color: firebrick;
}

#Taco {
    color: deeppink;
}

#Bell {
    color: yellowgreen;
}

#Hell {
    color: red;
}

.Dell {
    color: darkorange;
}

.Duck {
    color: darkseagreen;
}

.Yuck {
    color: lime;
}

.Motor {
    color: darkgoldenrod;
}

.Boat {
    color: chocolate;
}

.Dirt {
    color: darksalmon;
}

#cry {
    color: fuchsia;
}

#Smile {
    color: greenyellow;
}

.Frown {
    color: burlywood;
}

.Droid {
    color: goldenrod;
}